<ul>
    <li class="product" [@flyInOut] [class.clicked]="selectedProduct && selectedProduct.id === product.id" *ngFor="let product of products">
      <input type="text" [(ngModel)]='product.memberName'>
      <div (click)="onSelectProduct(product)">ID: <span>{{ product.id }}</span></div>
      <div (click)="onSelectProduct(product)">Member Name: <span>{{ product.memberName }}</span></div>

      <button (click)="save(product)">Save</button>
      <button (click)="delete(product.id)">Delete</button>
    </li>
  </ul>

  <div class="clear-fix"></div>